.main {
   color: #ee5253;
   display: flex;
   width: 90vw;
   flex-wrap: wrap;
   padding: 10px;
   justify-content: center;
   background-image: linear-gradient( 68.1deg,  rgba(248,205,205,1) -0.3%, rgba(149,170,211,1) 100.7% );
}

.filter input{
   width: 70%;
   padding: 16px;
   margin: 20px;
   border-radius: 10px;
   
}

input::placeholder{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 30px;
   text-align: center;
}

.Generations button{
   color: white; 
   background: #ee5253; 
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   border: 1px solid black; 
   text-shadow: 1px 1px black;
   padding: 10px; 
   margin: 5px;
}
